<div class="d-flex flex-wrap bd-highlight">
  <div class="order-3 p-2 bd-highlight"><img src="Unico.png" width="240px" height="240px" 
      alt="metal-slug" /></div>
  <div class="order-2 p-2 bd-highlight"><img src="Até.png" width="240px" height="240px"
      alt="metal-slug" /></div>
  <div class="order-1 p-2 bd-highlight"><img src="Aviva.png" width="240px" height="240px"
      alt="metal-slug" /></div>
  <div class="order-5 p-2 bd-highlight"><img src="Dele.png" width="240px" height="240px"
      alt="metal-slug" /></div>
  <div class="order-8 p-2 bd-highlight"><img src="Deus.png" width="240px" height="240px"
      alt="metal-slug" /></div>
  <div class="order-6 p-2 bd-highlight"><img src="Encontro.png" width="240px" height="240px"
      alt="metal-slug" /></div>
  <div class="order-7 p-2 bd-highlight"><img src="Fio.png" width="240px" height="240px"
      alt="metal-slug" /></div>
  <div class="order-7 p-2 bd-highlight"><img src="Nada.png" width="240px" height="240px"
      alt="metal-slug" /></div>
</div>